1_provision/.terraform*
1_provision/*_wallet.zip.asc
1_provision/terraform.tfstate*

ansible_common/venv

configuration_parameters_common/tf_vars.sh
configuration_parameters_common/*.pem
configuration_parameters_common/vm_ssh_key*
