# If you're not in the Frankfurt region, you will need to change this.
export TF_VAR_region=eu-frankfurt-1

export TF_VAR_availability_domain=AD-3

export TF_VAR_tenancy_ocid=

export TF_VAR_user_ocid=

export TF_VAR_private_key_path=../keys/oci_api_key.pem

export TF_VAR_fingerprint=

export TF_VAR_vm_ssh_key=../keys/vm_ssh_key.pub

export TF_VAR_shape=VM.Standard.E2.1.Micro

# If you're not in the Frankfurt region, you will need to change this.
export TF_VAR_image_ocid=ocid1.image.oc1.eu-frankfurt-1.aaaaaaaaf6gm7xvn7rhll36kwlotl4chm25ykgsje7zt2b4w6gae4yqfdfwa

export TF_VAR_load_balancer_bandwidth_in_mbps=10

export TF_VAR_webservice_port=8080

export TF_VAR_webservice_healthcheck_url=/

export TF_VAR_project_name=demo

# The AD to use. Typically 1, 2 or 3. In the free tier, you might be constrained to only one of the ADs
# E.g. in Frankfurt, only AD-3 is available.
export TF_VAR_ad_number=3

export TF_VAR_number_of_instances=2

export TF_VAR_load_balancer_port=443

export TF_VAR_database_admin_password=

export TF_VAR_database_wallet_password=
