export TF_VAR_region=

export TF_VAR_tenancy_ocid=

export TF_VAR_user_ocid=

export TF_VAR_private_key_path=../keys/api_key.pem

export TF_VAR_fingerprint=

export TF_VAR_vm_ssh_key=../keys/vm_ssh_key.pub
