[Unit]
Description = Demo Service
After = network.target

[Service]
ExecStart = /usr/bin/java -jar /home/opc/{{ project_name }}-{{ project_version }}.jar
ExecStop = kill -9 $(ps aux | grep {{ project_name }} | grep {{ project_version }} | grep .jar | awk '{print $2'})
User = opc

[Install]
WantedBy = multi-user.target
